src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation=" http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd">
    <apikit:config name="mma-alexa-seat-allocator-bookings-config" api="resource::92c38b33-c941-42cb-abb0-6e0da6122ce0:mma-alexa-seat-allocator-bookings-sys:1.0.0:raml:zip:mma-alexa-seat-allocator-bookings-sys.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="mma-alexa-seat-allocator-bookings-main">
        <http:listener config-ref="http-listener-config" path="/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <logger level="INFO" doc:name="Start Logger" doc:id="25bf7b2f-fe81-4285-87c7-35597a61fb63" message="Inside Booking System API"/>
		<ee:transform doc:name="Prepare logMessage" doc:id="5811720c-04c6-49c9-9dd3-8183c0311578">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="logMessage"><![CDATA[%dw 2.0
output application/json
---
{
	message: "START: Inbound HTTP Request",
	content: {
		remoteAddress: message.attributes.remoteAddress,
		method: message.attributes.method,
		requestPath: message.attributes.requestPath,
		headers: {
			client_id: message.attributes.headers.client_id,
			client_secret: message.attributes.headers.client_secret
		},
		queryParams: message.attributes.queryParams
	}
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <apikit:router config-ref="mma-alexa-seat-allocator-bookings-config" />
        <ee:transform doc:name="Update logMessage" doc:id="307554c9-44b5-4354-902c-251f8e0fac87">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="logMessage"><![CDATA[%dw 2.0
output application/json
---
{
	message: "END: Outbound HTTP Response",
	content: {
		httpStatus: vars.httpStatus
	}
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </flow>
    <flow name="patch:\intentions\(id):application\json:mma-alexa-seat-allocator-bookings-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="intentionId"><![CDATA[%dw 2.0
output application/java
---
attributes.uriParams.'id']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="Flow Ref: update-intentions-by-id-main-flow" doc:id="7469ad52-c887-4225-8f08-0f4e0285fe7c" name="update-intentions-by-id-main-flow" />
    </flow>
    <flow name="get:\intentions:mma-alexa-seat-allocator-bookings-config">
        <ee:transform doc:name="Transform Message" doc:id="1918a935-82bf-49fa-97dc-b22722eccffc">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="date"><![CDATA[%dw 2.0
output application/java
---
message.attributes.queryParams.date]]></ee:set-variable>
                <ee:set-variable variableName="employeeId"><![CDATA[%dw 2.0
output application/java
---
message.attributes.queryParams.employeeId]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="Flow Ref: get-intentions-main-flow" doc:id="b04898e8-2dc8-493d-bd36-419dac812908" name="get-intentions-main-flow" />
    </flow>
    <flow name="post:\bookings:application\json:mma-alexa-seat-allocator-bookings-config">
        <flow-ref doc:name="Flow Ref: postBookingFlow" doc:id="85ce217d-da44-4af6-9641-c0785e6c3c59" name="postBookingFlow" />
    </flow>
    <flow name="post:\intentions:application\json:mma-alexa-seat-allocator-bookings-config">
        <flow-ref doc:name="Flow Ref: update-intentions-main-flow" doc:id="354f13bc-33ef-45fd-a63c-7683aeb61408" name="update-intentions-main-flow" />
    </flow>
    <flow name="patch:\availability\(id):application\json:mma-alexa-seat-allocator-bookings-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="availabilityId"><![CDATA[%dw 2.0
output application/java
---
attributes.uriParams.'id']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="Flow Ref: update-availability-by-id-main-flow" doc:id="2e09e4c3-dd52-465d-a44f-e7c795bb7937" name="update-availability-by-id-main-flow" />
    </flow>
    <flow name="get:\availability:mma-alexa-seat-allocator-bookings-config">
        <ee:transform doc:name="Transform Message" doc:id="1cb17cc1-4235-4882-9b07-98564f43e1fb">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="date"><![CDATA[%dw 2.0
output application/java
---
message.attributes.queryParams.date]]></ee:set-variable>
                <ee:set-variable variableName="locationId"><![CDATA[%dw 2.0
output application/java
---
message.attributes.queryParams.locationId]]></ee:set-variable>
                <ee:set-variable variableName="roomId"><![CDATA[%dw 2.0
output application/java
---
message.attributes.queryParams.roomId]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="Flow Ref: get-availability-main-flow" doc:id="add5436c-7b59-4974-9c31-e47217d9d2af" name="get-availability-main-flow" />
    </flow>
    <flow name="post:\availability:application\json:mma-alexa-seat-allocator-bookings-config">
        <flow-ref doc:name="Flow Ref: update-availability-main-flow" doc:id="5bbfa28c-368e-4965-908e-d341510cfa82" name="update-availability-main-flow" />
    </flow>
    <flow name="get:\bookings:mma-alexa-seat-allocator-bookings-config">
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
            </ee:message>
			<ee:variables >
				<ee:set-variable variableName="employeeId" ><![CDATA[%dw 2.0
output application/java
---
message.attributes.queryParams.employeeId default null]]></ee:set-variable>
				<ee:set-variable variableName="date" ><![CDATA[%dw 2.0
output application/java
---
message.attributes.queryParams.date default null]]></ee:set-variable>
			</ee:variables>
        </ee:transform>
		<flow-ref doc:name="Flow Ref: get-bookings-main-flow" doc:id="6d4d2366-2de7-4394-912f-065ea6c54cfe" name="get-bookings-main-flow"/>
    </flow>
</mule>
